body {
margin: 0;
padding: 0;
}

#header {
height: 200px; 
text-align: left;
font-size: 14pt;
}

#content {
height: 300px;
background-color: #B0E0E6;
border: 1px solid #999;
font-size: 12pt;    
}

#footer {
height: 200px;
text-align: left;
font-size: 14pt;
}
